.select-container {
  display: flex;
  padding: 2rem 1rem;
  object-fit: contain;
  justify-content: center;
}

.select-container > div {
  width: 100%;
}

.title {
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  object-fit: contain;
  color: var(--active);
  font-family: "Cactus Classical Serif", serif !important;
}

@media (width >= 600px) {
  .select-container {
    justify-content: flex-start;
  }

  .select-container > div {
    width: 300px;
  }
}
